.custom-input {
  display: flex;
  flex-direction: column-reverse;
  gap: 5px;

  &__field {
    padding: 10px 20px;
    width: 100%;
    font-size: 20px;
    line-height: 24px;
    outline: none;
    border: none;
    border-radius: 16px;
    background-color: $color-granite-gray;
    color: $color-electric-lime;
    transition: background-color $transition-300, color $transition-300;

    &:hover, &:focus-visible {
      background-color: $color-white;
      color: $color-granite-gray;
    }
  }

  &__label {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: $color-granite-gray;
  }
}