@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/noto-sans-regular.woff2") format("woff2"),
    url("../fonts/noto-sans-regular.woff") format("woff");
}

@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/noto-sans-medium.woff2") format("woff2"),
    url("../fonts/noto-sans-medium.woff") format("woff");
}

@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/noto-sans-bold.woff2") format("woff2"),
    url("../fonts/noto-sans-bold.woff") format("woff");
}