// Fonts
$ff-noto: "Noto Sans", "Arial", sans-serif;

// Colors
$color-moderate-aquamarine: #465B7D;
$color-electric-lime: #cdff07;
$color-granite-gray: #313642;
$color-black: #000000;
$color-white: #ffffff;

// Transitions
$transition-300: 0.3s ease-in;